.borde-img {
    border: 2px solid white;
}

#logo:hover{
    animation: swing; 
    animation-duration: 4s; 
}

.desarrolladores:hover{
    background-color: #0f99ac;
    border-radius: 0.5rem;
    
}

.desarrolladores:hover .imagen_desarrolladores{
    opacity: 0;
    transition: opacity 1.3s ease;
    
}

.desarrolladores a{
    opacity: 0;
    text-decoration: none;
    color: white;
    
}

.desarrolladores:hover a{
    transition: opacity 1.3s ease;
    opacity: 1;
}

@keyframes show {
    from{
        opacity: 0;
        scale: 25%;
    }
    to{
        opacity: 1;
        scale: 100%;
    }
}

.imagen_juego{
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
}